<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AXA Automation Suite" annotations='JDK' preserve-order="true">
    <test name="AXATestSuite" preserve-order="true" >
		<classes>
			<class name="com.axa.testscripts.PatientEnrollmentTest" />
		</classes>	
	</test>
	  
</suite>

